%div.comment
  %div.comment-header
    %div.text-info.comment-user
      %i.fa.fa-user
      = comment.user_name
      #{t "views.courtesy_title"}
    %div.text-end.comment-metadata
      %div.text-muted
        = comment.created_at.to_s
        = link_to comment_path(comment), method: :delete, data: { confirm: t("views.comments._comment.confirm_delete") }, class:"text-muted" do
          %i.far.fa-trash-alt
          = t("helpers.button.delete")
  %div.comment-content
    = comment.body
