%div.comment-form
  = form_for comment do |f|
    %fieldset
      %legend #{t "views.comments._form.title"}
      %div.form-group
        %div.form-outline
          = f.text_field :user_name, class:"form-control"
          %label.form-label{for: "comment_user_name"} 
            =t("helpers.placeholder.name")
      %div.form-group
        %div.form-outline
          = f.text_area :body, class:"form-control"
          %label.form-label{for: "comment_body"} 
            =t("helpers.placeholder.comment")
      = f.hidden_field :item_id, value: comment.item_id
      %div.text-end
        = f.submit t("views.comments._form.button_create"), class:"btn btn-raised btn-primary"
