%h1= t('views.user.edit.title')

%div.btn-group{role: "group", "aria-label": "..."}

  %button.btn.btn-default.btn-primary{type: "button",  "data-toggle": "modal", "data-target": "#deleteDialog"}
    %i.fa.fa-trash= t('helpers.button.delete')

= bootstrap_form_for(@user, url: update_user_url(@user), method: "put", layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10")do |f|
  = f.text_field :email
  = f.text_field :name
  %p= f.check_box :admin, inline: true
  = link_to t('helpers.submit.cancel'), users_path, class: "btn btn-default"
  = f.submit t('helpers.submit.update'), class: "btn btn-primary btn-raised"

%div#deleteDialog.modal.fade{role: "dialog", "aria-labelledby": "myModalLabel"}
  %div.modal-dialog{role: "document"}
    %div.modal-content
      %div.modal-header
        %button.close{type: "button", "data-dismiss": "modal", "aria-label": "Close"}
          %span{"aria-hidden": "true"}
            &times;
        %h4#myModalLabel.modal-title
          = t('views.user.delete.title')
      %div.modal-body
        = t('views.user.delete.confirm', user: @user.name)
      %div.modal-footer
        %button.btn.btn-primary{type: "button",  "data-dismiss": "modal"}
          = t('helpers.submit.cancel')
        =button_to t('helpers.button.delete'), delete_user_path(@user.id), method: "delete", class:"btn btn-primary btn-raised"

