%h1= t('views.user.edit.title')

= button_to t('helpers.button.delete'), delete_user_path(@user.id), method: :delete, data: { turbo_confirm: t('views.user.delete.confirm', user: @user.name) }, class: "btn btn-primary"

= bootstrap_form_for(@user, url: update_user_path(@user), method: "put", layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10")do |f|
  = f.text_field :email
  = f.text_field :name
  %p= f.check_box :admin, inline: true
  = link_to t('helpers.submit.cancel'), users_path, class: "btn btn-default"
  = f.submit t('helpers.submit.update'), class: "btn btn-primary btn-raised"
