%div{:class => "container"}

  %h1= t('views.user.index.title')

  %table#users.table.table-striped
    %thead
      %tr
        %th ID
        %th= t('activerecord.attributes.user.name')
        %th= t('activerecord.attributes.user.admin')
        %th= t('activerecord.attributes.user.email')
        %th= t('activerecord.attributes.user.created_at')
        %th= t('activerecord.attributes.user.last_sign_in_at')
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= link_to user.name, edit_user_path(user.id)
          %td= user.admin?
          %td= user.email
          %td= user.created_at
          %td= user.last_sign_in_at


