
= render 'shared/header', id: @advent_calendar_item.id, date: @advent_calendar_item.date, event: @advent_calendar_item.event
%div
  %div.page-header
    %h1 #{t "views.advent_calendar_items.show.title", date: @advent_calendar_item.date, month: @advent_calendar_item.month}
    %hr
    %h3 #{t "activerecord.attributes.advent_calendar_item.user_name"}
    = @advent_calendar_item.user_name + t("views.courtesy_title")
    %h3 #{t "activerecord.attributes.advent_calendar_item.comment"}
    = @advent_calendar_item.comment
    - if @advent_calendar_item.editable_by? current_user
      %p.advent-calendar-item-link
        = link_to t("views.advent_calendar_items.show.button_edit_advent_calendar_item"),
          edit_advent_calendar_item_path(id:@advent_calendar_item.id), class:"btn btn-primary btn-raised"
  %div.page-header
    %h2 #{t "views.advent_calendar_items.show.item_title"}
    %hr
    - if @advent_calendar_item.item
      #{t "views.advent_calendar_items.show.item_created"}
      - if @advent_calendar_item.editable_by? current_user
        %p.advent-calendar-item-link
          = link_to t("views.advent_calendar_items.show.button_edit_item"),
            edit_item_path(id:@advent_calendar_item.item.id), class:"btn btn-primary btn-raised"
    - else
      #{t "views.advent_calendar_items.show.item_not_created"}
      - if @advent_calendar_item.editable_by? current_user
        %p.advent-calendar-item-link
          = link_to t("views.advent_calendar_items.show.button_create_item"), new_item_path(id: @advent_calendar_item.id, date: @advent_calendar_item.date), class:"btn btn-primary btn-raised"
  %div.page-header
    %hr
    %h3 #{t "views.advent_calendar_items.show.delete_advent_calendar_item"}
    %p.advent-calendar-item-link
      = link_to t("helpers.button.delete"), @advent_calendar_item, method: :delete,  data: { confirm: t("views.advent_calendar_items.show.confirm_delete_entry") }, class:"btn btn-primary btn-raised ext-muted"