%div.d-flex.justify-content-between.align-items-center
  %h1= t('views.event.edit.title')
  = button_to event_path(@event.name), method: :delete, data: { turbo_confirm: t('views.event.delete.confirm', event: @event.title) }, class: "btn btn-outline-success text-success" do
    %i.fa-solid.fa-trash
    = t('helpers.button.delete')

= bootstrap_form_for(@event, url: event_path(@event.name), method: "put", layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", inline_errors: false)do |f|
  = f.alert_message t('views.common.alert_save_failed')
  = f.text_field :name, help: t('views.event.edit.name_help')
  = f.text_field :title
  = f.text_area :description, rows: 5
  = f.date_field :start_date
  = f.date_field :end_date
  = link_to t('helpers.submit.cancel'), boards_path, class: "btn btn-outline-success text-success"
  = f.submit t('helpers.submit.update'), class: "btn btn-primary btn-raised"
