%div.container
  %div.btn-group{role: "group", "aria-label": "..."}
  = link_to :new_event, {class: "btn btn-primary"} do
    %i.fa.fa-plus= t('helpers.button.add')




  %h1= t('views.event.list.title')

  %table#events.table.table-striped
    %thead
      %tr
        %th= t('activerecord.attributes.event.title')
        %th= t('activerecord.attributes.event.start_date')
        %th= t('activerecord.attributes.event.end_date')
    %tbody
      - @events.each do |event|
        %tr
          %td.title= link_to event.title, edit_event_path(event)
          %td.start= event.start_date
          %td.end= event.end_date

:javascript
  $('#events').DataTable();
