%div.container
  %div.d-flex.justify-content-between.align-items-center
    %h1= t('views.event.list.title')
    = link_to new_event_path, {class: 'btn btn-outline-success text-success'} do
      %i.fas.fa-plus
      = t('helpers.button.add')

  %table#events.table.table-striped
    %thead
      %tr
        %th= t('activerecord.attributes.event.title')
        %th= t('activerecord.attributes.event.start_date')
        %th= t('activerecord.attributes.event.end_date')
    %tbody
      - @events.each do |event|
        %tr
          %td.title= link_to event.title, edit_event_path(event)
          %td.start= event.start_date
          %td.end= event.end_date

:javascript

