- content_for(:jumbotron) do
  %div#event-header.jumbotron.container-fluid.p-5
    %div.container
      %div.row
        %div.col
          %h1= @event.title
          =@event.description
        - if @event.editable?(current_user)
          %div.col-auto.d-flex.align-items-center
            = link_to edit_event_path(@event.name), class: 'btn btn-light btn-sm' do
              %i.fas.fa-pencil-alt

%div
  %div.advent-calendar-description
    %h2 #{t "views.welcome.index.description_title"}
    %hr
    %p #{t "views.welcome.index.description"}
  %table.table.table-bordered.advent-calendar-calendar
    %thead
      %tr
        - t("date.abbr_day_names").each do |day_name|
          %th #{day_name}
    %tbody
      - @calendar_data.each do |week|
        %tr
          - week.each do |date|
            %td
              %p.advent-calendar-date
                = date.day
              -if advent_calendar_date?(date, @event)
                = render "detail", advent_calendar_item: @advent_calendar_items.find_by(date: date.day), date: date.day


