%div.form-container{data: {controller: 'editor', editor_upload_path_value: attachments_path, editor_upload_error_value: t('items.upload_error'), editor_network_error_value: t('items.network_error')}}
  = form_for item do |f|
    %fieldset
      %div.form-group
        %div.form-outline
          = f.text_field :title, class:"form-control"
          %label.form-label{for: "item_title"}
            =t("activerecord.attributes.item.title")
      %div.mb-3
        = f.label :body, t("activerecord.attributes.item.body"), for: "item-text", class: "form-label"
        = f.text_area :body, id: "item-text", class: 'form-control', data: {editor_target: 'textarea'}
      = f.hidden_field :advent_calendar_item_id, value: item.advent_calendar_item_id
      %div.d-flex.justify-content-between.mt-2
        %button.btn.btn-success.btn-raised#preview-button{type: "button", data: {action: 'click->editor#submitPreview', editor_target: 'previewButton', preview_url: (item.new_record? ? preview_items_path : preview_item_path(item))}}
          = t("helpers.submit.preview")
        %div
          - if item.advent_calendar_item.published?
            = link_to t("helpers.submit.cancel"), item_path(item), class:"btn btn-default"
          - else
            = link_to t("helpers.submit.cancel"), advent_calendar_item_path(id: item.advent_calendar_item_id), class:"btn btn-default"
          = f.submit t("helpers.submit.create"), class:"btn btn-primary btn-raised item-submit", data: {disable_with: false}
