.modal.fade#markdown-modal(tabindex="-1" role="dialog" aria-labelledby="modal-label")
  = render "form_markdown_help_modal"
%div.form-container
  = form_for item do |f|
    %fieldset
      %div.form-group
        %div.form-outline
          = f.text_field :title, class:"form-control"
          %label.form-label{for: "item_title"} 
            =t("activerecord.attributes.item.title")
      %div.form-group
        %div.row
          %div.col-sm-12
            %div.item-container
              %div.item-body
                %div.item-header.item-body-header
                  Markdown
                  %a{"data-mdb-toggle" => "modal", :href => "#markdown-modal", :class => "btn-xs btn-default"}
                    %span.fa.fa-question
                %div.item-body-content
                  %div.form-outline
                    = f.text_area :body, id: "item-text", class: 'form-control'
                    %label.form-label{for: "item-text"} 
                      =t("helpers.placeholder.text")
                  = render "form_attachment", attachment: attachment
              %div.item-preview
                %div.item-header.item-previw-header #{t "views.items._form.item_header_preview"}
                %div.markdown#item-preview-content
      = f.hidden_field :advent_calendar_item_id, value: item.advent_calendar_item_id
      %div.float-start
        %button.btn.btn-success.btn-raised#preview-button{type: "button", data: {preview_url: (item.new_record? ? preview_items_path : preview_item_path(item))}}
          = t("helpers.submit.preview")
      %div.float-end
        - if item.advent_calendar_item.published?
          = link_to t("helpers.submit.cancel"), item_path(id: item.advent_calendar_item_id), class:"btn btn-default"
        - else
          = link_to t("helpers.submit.cancel"), advent_calendar_item_path(id: item.advent_calendar_item_id), class:"btn btn-default"
        = f.submit t("helpers.submit.create"), class:"btn btn-primary btn-raised item-submit", data: {disable_with: false}

