
%html
  %head
    %title= system_title
    %meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=Edge"}
    %meta{"charset"=>"UTF-8"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = favicon_link_tag
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application_pack', media: 'all', 'data-turbo-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
    = content_for(:head) if content_for?(:head)
  %body#advent_calendar_body
    %nav#top-menu.navbar.navbar-light.navbar-expand-lg.px-3
      = link_to "TOP", root_path, class: "navbar-brand"
      - if @board&.board_type_user? && @board.board_id.present?
        %span.navbar-brand
          = " > "
          = link_to @board.name, board_path(@board.board_id)
      %button.navbar-toggler{type:"button", "data-mdb-toggle": "collapse", "data-mdb-target": "#navTopMenu", "aria-controls": "navTopMenu", "aria-expanded": "false", "aria-label": "Toggle navigation"}
        %span.navbar-toggler-icon
      %div#navTopMenu.collapse.navbar-collapse
        %div.navbar-nav.ms-auto
          - if user_signed_in?
            - if current_user.admin?
              = link_to users_path, class: "nav-item nav-link" do
                %i.fa.fa-cog
                = t('menu.settings')
            %div.nav-item.dropdown{"data-controller" => "navbar-dropdown"}
              %a.nav-link.dropdown-toggle{"href" => "#", "aria-expanded" => "false",
                                         "data-navbar-dropdown-target" => "toggle",
                                         "data-action" => "click->navbar-dropdown#toggle"}
                %i.fa.fa-user
                = current_user.name
              %ul.dropdown-menu.dropdown-menu-end{"data-navbar-dropdown-target" => "menu"}
                %li= link_to t('menu.my_page'), edit_user_registration_path, class: 'dropdown-item'
                %li= link_to t('menu.board_management'), boards_path, class: 'dropdown-item'
                %li
                  %hr.dropdown-divider
                %li= link_to t('menu.sign_out'), destroy_user_session_path, class: 'dropdown-item', data: { "turbo-method": :delete }
          - else
            = link_to new_user_registration_path, class: "nav-item nav-link" do
              %i.fa.fa-user-plus
              = t("menu.sign_up")
            = link_to new_user_session_path, class: "nav-item nav-link" do
              %i.fa.fa-sign-in-alt
              = t("menu.sign_in")
    = content_for?(:jumbotron) ? yield(:jumbotron) : ''
    %div.container
      - if flash[:notice].present?
        %div.alert.alert-success{role: "alert"}
          = flash[:notice]
      - if flash[:alert].present?
        %div.alert.alert-danger{role: "alert"}
          = flash[:alert]
      = content_for?(:content) ? yield(:content) : yield

%footer.welcome-footer
  %div.container
    %p.small
      Powered by
      = link_to "radvent", "https://github.com/haru/radvent/"
      = "v#{Radvent::Version.version}"
