
%html
  %head
    %title Advent Calendar
    %meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=Edge"}
    %meta{"charset"=>"UTF-8"}
    %link{:href=>"/assets/default.min.css", :rel=>"stylesheet"}
    = favicon_link_tag if Rails.application.assets.find_asset('favicon.ico')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %script{:src=>"/assets/highlight.min.js"}
    :javascript
      hljs.initHighlightingOnLoad()
  %body
    %nav#top-menu.navbar.navbar-expand-lg
      = link_to "TOP", root_path, class: "navbar-brand"
      %button.navbar-toggler{type:"button", "data-toggle": "collapse", "data-target": "#navbarSupportedContent", "aria-controls": "navbarSupportedContent", "aria-expanded": "false", "aria-label": "Toggle navigation"}
        %span.navbar-toggler-icon

      %div#navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            - if current_user.admin?
              %li.nav-item
                = link_to  events_list_path, class: "nav-link" do
                  %i.fa.fa-cog
                  = t('menu.settings')
            %li.nav-item
              = link_to  edit_user_registration_path, class: "nav-link" do
                %i.fa.fa-user
                = "#{current_user.name}"
            %li.nav-item
              = link_to destroy_user_session_path, method: :delete, class: "nav-link" do
                %i.fa.fa-sign-out
                = t('menu.sign_out')
          - else
            %li.nav-item
              = link_to new_user_registration_path, class: "nav-link" do
                %i.fa.fa-user-plus
                = t("menu.sign_up")
            %li.nav-item
              = link_to new_user_session_path, class: "nav-link" do
                %i.fa.fa-sign-in
                = t("menu.sign_in")

    = content_for?(:content) ? yield(:content) : yield
